/media/*
/var/*
/nbproject/
/.idea/
.DS_Store
/app/etc/local.xml
/config/deploy.rb
/config/deploy/staging.rb
/config/deploy/production.rb
/Capfile
/.svn
/test.php
/import_db.php
/import_orders.php
.htaccess
/errors/local.xml
/.sass-cache
/node_modules